<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, 'value': current_user.id, type: 'hidden' %>
  </div>

  <div class="field">
    <%= form.number_field :article_id, type: 'hidden' %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
