<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center">
    <%= image_tag @article.picture.url, class: "img-fluid" if @article.picture? %>
  </div>
  <article>
    <header>
      <div class="container-fluid text-justify my-3">
        <%= link_to category_path(@article.category_id) do %>
        <h5><%= @article.category.name %></h5>
        <% end %>
        <h1><%= @article.title %></h1><br>
        <h2><small class="text-secondary"><%= @article.subtitle if @article.subtitle? %></small></h2>
      </div>
    </header>
    <div class="container-fluid ql-style pt-4">
      <%= @article.content.html_safe %>
    </div>
  </article>


  <div class="container-fluid pt-5">
    <h3>Comments</h3>
    <% @article.comments.each do |comment| %>
      <div class="container-fluid my-5">
        <div class="row">
          <div class="col-md-2">
            <%= link_to comment.user.username, user_path(comment.user.id) %>
          </div>
          <div class="col-md-10 d-flex justify-content-between">
            <%= comment.body %>
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to raw('<i class="fas fa-trash-alt"></i>'), comment_path(comment.id),  confirm: "Are you sure?", method: :delete, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-fluid pt-3 pb-5">
    <%= render template:'comments/new' %>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>
