<div class="container-fluid">
  <h1 class="text-center"><strong><i>Users</i></strong></h1>
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-md-9">
      <h3>User id: <%= user.id %></h3>
      <p>
        Email: <%= user.email %>
      </p>
      <p>
        First name: <%= user.first_name %>
      </p>
      <p>
        Last name: <%= user.last_name %>
      </p>
      <p>
        Username: <%= user.username %>
      </p>
      <p>
        Phone: <%= user.phone %>
      </p>
      <p>
        Admin: <%= user.admin %>
      </p>
      <p>
        Content creator: <%= user.creator %>
      </p>
    </div>
    <div class="col-md-3">
      <%= link_to raw('<i class="fas fa-trash-alt"></i>'), user_path(user.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %>
      <%= link_to raw('<i class="fas fa-user"></i>'), user_path(user.id), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
