<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container-fluid">
  <div class="container-fluid">
    <p>
      Email: <%= @user.email %>
    </p>
    <p>
      First name: <%= @user.first_name %>
    </p>
    <p>
      Last name: <%= @user.last_name %>
    </p>
    <p>
      Username: <%= @user.username %>
    </p>
    <p>
      Phone: <%= @user.phone %>
    </p>
    <p>
      Admin: <%= @user.admin %>
    </p>
    <p>
      Content creator: <%= @user.creator %>
    </p>
  </div>
</div>
