<div class="container-fluid">
  <h1 class="text-center"><strong><i><%= @category.name %></i></strong></h1>
  <% @category.articles.each do |article| %>
    <hr class="hr-big"/>
    <%= link_to article_path(article.id), class: 'linkto_articles' do %>
    <div class="container-fluid my-3 py-3 text-justify">
      <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-center">
          <%= image_tag article.picture.url, class: "img-fluid" if article.picture? %>
        </div>
        <div class="col-md-8">
          <h3><%= article.title %></h3>
          <h4><%= article.subtitle %></h4>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <hr class="hr-big"/>
</div>
